@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide-left {
  from {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%) rotate(-5deg);
    opacity: 0;
  }
}

@keyframes slide-right {
  from {
    transform: translateX(0) rotate(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%) rotate(5deg);
    opacity: 0;
  }
}

.swipe-left {
  animation: slide-left 0.3s ease-out forwards;
}

.swipe-right {
  animation: slide-right 0.3s ease-out forwards;
}